<div class="container-fluid" style="background-color: #53709f;">
    <div class="container">
        <div class="row py-5">
            <nav class="w-100 mx-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item curs-pointer" [routerLink]="['/store']" (click)="breadcrumb.clear()">Store</li>
                    <li *ngFor="let crumb of breadcrumb.breadcrumb; let i = index" class="breadcrumb-item curs-pointer" (click)="breadcrumb.navigate(i)">{{crumb}}</li>
                </ol>
            </nav>
            <ng-container *ngFor="let c of categories | async">
                <mat-card class="m-3" (click)="navigate(c.name)">
                    <img *ngIf="c.image" mat-card-image [src]="c.image" [alt]="c.name" style="width: 200px; height: 200px;">
                    <mat-divider *ngIf="c.image" class="custom-line"></mat-divider>
                    <mat-card-content>
                        <h5>{{c.name}}</h5>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </div>
</div>