<div class="container-fluid bg-white">
    <div class="container d-flex flex-column flex-md-row py-4">
        <div>
            <img src="/assets/img/Mariamorgis.jpg">
        </div>
        <div class="ml-0 ml-md-3">
            <h2 class="mt-3 roboto">40 Years of Excellence</h2>
            <mat-divider></mat-divider>
            <strong>FH &amp; Sons</strong> has been in business for 40 years. We have been ISO 9001:2000 certified
            since May 2000. Our
            company manufactures plastisol silk screen inks, plastisols for moulding and dipping applications, as
            well as bulk
            pigment dispersions. We also distribute for several top end equipment and chemical manufacturers. We
            strive to provide
            value in everything we sell, coupled with unmatched customer service and guidance.
        </div>
    </div>
</div>
<div style="background: #53709f;">
    <div class="container">
        <div class="d-flex justify-content-center row pt-4">
            <div class="col-12">
                <h1 class="my-4 roboto text-center" style="color:#bbcde8;">Client Reviews</h1>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <mat-card class="text-black-50 shadow">
                    <a target="_blank"
                       href="https://www.google.com/maps/contrib/107718425840210234234/reviews?hl=en-CA&sa=X&ved=2ahUKEwiklPiAwJjcAhVrxoMKHU8lAtgQvvQBegQIARAN">Sukhvinder
                        Garcha</a>
                    <br/>
                    <mat-divider class="custom-line"></mat-divider>
                    Very good service and good price
                </mat-card>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <mat-card class="text-black-50">
                    <a target="_blank"
                       href="https://www.google.com/maps/contrib/106243032549545671075/reviews?hl=en-CA&sa=X&ved=2ahUKEwiklPiAwJjcAhVrxoMKHU8lAtgQvvQBegQIARAU">Cheyenne
                        Gauthier</a>
                    <br/>
                    <mat-divider class="custom-line"></mat-divider>
                    Package received within 2 days of ordering. Super happy with the quality and service, will be
                    ordering again. Thanks!
                </mat-card>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <mat-card class="text-black-50">
                    <a target="_blank"
                       href="https://www.google.com/maps/contrib/109255223742158550985/reviews?hl=en-CA&sa=X&ved=2ahUKEwiklPiAwJjcAhVrxoMKHU8lAtgQvvQBegQIARAb">Julia
                        Henriques</a>
                    <br/>
                    <mat-divider class="custom-line"></mat-divider>
                    Great staff, very friendly, great service
                </mat-card>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <mat-card class="text-black-50">
                    <a target="_blank"
                       href="https://www.google.com/maps/contrib/111462598285081078982/reviews?hl=en-CA&sa=X&ved=2ahUKEwiklPiAwJjcAhVrxoMKHU8lAtgQvvQBegQIARAi">Jon
                        Weizman</a>
                    <br/>
                    <mat-divider class="custom-line"></mat-divider>
                    Great ink, great service.
                </mat-card>
            </div>
        </div>
    </div>
</div>