<div class="container">
  <mat-card class="w-100 my-5" style="overflow: hidden">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Item</th>
          <th>Quantity</th>
          <th>Cost</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart; let i = index">
          <td>{{i + 1}}</td>
          <td>
            <a [routerLink]="['/products', item.item]">{{item.item}}</a>
          </td>
          <td>{{item.quantity}}</td>
          <td>{{item.price | currency}}</td>
          <td>
            <mat-icon class="curs-pointer" (click)="remove(i)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="float-right">
      <table>
        <tr>
          <td>
            <strong>Sub Total:</strong>
          </td>
          <td class="pl-3">{{total() | currency}}</td>
        </tr>
      </table>
      <button mat-raised-button class="float-right mt-3" color="primary" (click)="checkout()" [disabled]="total() <= 0">Checkout</button>
    </div>
  </mat-card>
</div>