<mat-dialog-content>
    <h3 mat-dialog-title>
        <span *ngIf="data.product">Update</span>
        <span *ngIf="!data.product">Create</span> Product</h3>
    <form id="createForm">
        <mat-form-field class="w-100">
            <input matInput placeholder="Name" name="name" [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-select placeholder="Category" name="category" [(value)]="category">
                <mat-option *ngFor="let c of store.categories | async" [value]="c.name">{{c.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="w-100">
            <textarea matInput rows="5" placeholder="Description" name="description" [(ngModel)]="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <span matPrefix>$&nbsp;</span>
            <input matInput placeholder="Price" type="number" name="price" [(ngModel)]="price">
            <mat-hint *ngIf="!price" align="start">0 will display "Contact For Price"</mat-hint>
        </mat-form-field>
        <mat-radio-group [(ngModel)]="currency" name="currency">
            <mat-radio-button value="CAD" class="pl-3">CAD</mat-radio-button>
            <mat-radio-button value="USD" class="pl-3">USD</mat-radio-button>
        </mat-radio-group>
        <input #fileInput type="file" (change)="imageChanged()" hidden>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="fileInput.click()">
        <span *ngIf="!image">Add Image</span>
        <mat-icon *ngIf="image">check</mat-icon>
    </button>
    <button mat-raised-button type="submit" form="createForm" color="primary" (click)="submit()">
        <span *ngIf="data.product">Update</span>
        <span *ngIf="!data.product">Create</span>
    </button>
</mat-dialog-actions>