@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a,
a:hover,
u,
u:hover,
.no-underline,
.no-underline:hover {
  text-decoration: none;
}

.curs-pointer {
  cursor: pointer;
}

.dark-hover:hover {
  background-color: #f0f0f0;
}

.rainbow {
  background: linear-gradient(to top, black, black, yellow, magenta, blue, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.fh-fade {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), black);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.sons-fade {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), black);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}
.custom-line {
  padding-bottom: 1.5rem !important;
  position: relative !important;
  margin-top: 0.75rem !important;
}
.btn-primary {
  color: #fff;
  background-color: #3c3c3c;
  border-color: #5a5e63;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #53709f !important;
  border-color: #3e557a !important;
}
mat-list-item:hover {
  background-color: #ececec;
  cursor: pointer;
}
mat-form-field#totalCost .mat-form-field-label-wrapper {
  text-align: right;
}
