<div class="banner">
</div>
<div class="container-fluid m-0 p-0 bg-light">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-12 col-md-4 text-center">
                <a class="no-underline" style="max-width: 20rem" [routerLink]="['/about']">
                    <mat-card class="dark-hover" style="min-height: 320px;">
                        <mat-icon class="my-5" style="transform: scale(4); color: #87a9cd;">help_outline</mat-icon>
                        <h3 class="text-dark mb-4">About Us</h3>
                        <mat-divider class="custom-line"></mat-divider>
                        <p class="text-black-50 mt-5">Learn more about us and our 30+ years experience!</p>
                    </mat-card>
                </a>
            </div>
            <div class="col-12 col-md-4 text-center">
                <a class="no-underline" style="max-width: 20rem" [routerLink]="['/store']">
                    <mat-card class="dark-hover" style="min-height: 320px;">
                        <mat-icon class="my-5" style="transform: scale(4); color: #87a9cd;">local_grocery_store</mat-icon>
                        <h3 class="text-dark mb-4">Store</h3>
                        <mat-divider class="custom-line"></mat-divider>
                        <p class="text-black-50 mt-5">Buy equipment, ink and anything else you might need!</p>
                    </mat-card>
                </a>
            </div>
            <div class="col-12 col-md-4 text-center">
                <a class="no-underline" style="max-width: 20rem" [routerLink]="['/formulaManager']">
                    <mat-card class="dark-hover" style="min-height: 320px;">
                        <mat-icon class="my-5" style="transform: scale(4); color: #87a9cd;">opacity</mat-icon>
                        <h3 class="text-dark mb-4">Formula Manager</h3>
                        <mat-divider class="custom-line"></mat-divider>
                        <p class="text-black-50 mt-5">Check out our browser formula manager!</p>
                    </mat-card>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-5">
    <div class="row">
        <div class="col p-0" style="position: relative">
            <div class="d-inline-block" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)">
                <h2 class="d-none d-lg-inline">Free Shipping</h2>
                <div class="">
                    <br>
                    <p class="d-inline">We accept Visa, MasterCard & American Express at check-out. You must contact us within 5 days of purchase
                        at info@fhsons.com to return purchased items.</p>
                </div>
            </div>
        </div>
        <div class="col p-0">
            <img src="/assets/img/shipping.png" alt="Free Shipping" style="width: 100%; height: auto">
        </div>
    </div>
    <div class="row">
        <div class="col p-0">
            <div class="row m-0">
                <div class="col p-0">
                    <img src="assets/img/partners/m&r.png" alt="M&R" style="width: 100%; height: auto">
                </div>
                <div class="col p-0">
                    <img src="assets/img/partners/soba.png" alt="Soba" style="width: 100%; height: auto">
                </div>
                <div class="col p-0">
                    <img src="assets/img/partners/rhinotech.png" alt="Rhino Tech" style="width: 100%; height: auto">
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0">
                    <img src="assets/img/partners/chromatex.png" alt="Chromatex" style="width: 100%; height: auto">
                </div>
                <div class="col p-0">
                    <img src="assets/img/partners/actionengineering.png" alt="Action Engineering" style="width: 100%; height: auto">
                </div>
                <div class="col p-0">
                    <img src="assets/img/partners/bbc.png" alt="BBC" style="width: 100%; height: auto">
                </div>
            </div>
            <div class="row m-0">
                <div class="col p-0">
                    <img src="assets/img/partners/amrep.png" alt="AMREP" style="width: 100%; height: auto">
                </div>
                <div class="col p-0">
                    <img src="assets/img/partners/chromaline.png" alt="Chromaline" style="width: 100%; height: auto">
                </div>
                <div class="col p-0">
                    <img src="assets/img/partners/printersedge.png" alt="Printer's Edge" style="width: 100%; height: auto">
                </div>
            </div>
        </div>
        <div class="col p-0" style="position: relative">
            <div class="d-inline-block" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)">
                <h2 class="d-none d-lg-inline">Proud Distributor</h2>
                <div class="">
                    <br>
                    <p class="d-inline">We proudly distribute products for these screen printing industry leaders.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-0" style="width: 100%; height: 400px">
    <iframe style="width: 100%; height: 100%;" title="Google Maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11529.15485962886!2d-79.6054727!3d43.746101!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x55ebba8b241a8cc!2sFH+%26+Son&#39;s+Mfg+Ltd!5e0!3m2!1sen!2sca!4v1526647428011"
        frameborder="0"></iframe>
</div>